SNOWFLAKE_USER=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_ROLE=
SNOWFLAKE_PRIVATE_KEY_FILE=/path/to/your/private_key.p8
REDIS_URL=redis://localhost:6379/0
LIVE_CITIES=both
LIVE_API_HOST=127.0.0.1
LIVE_API_PORT=8000
LIVE_POLL_INTERVAL_SECONDS=5
LIVE_POLL_INTERVAL_BOSTON_SECONDS=3
LIVE_POLL_INTERVAL_CHICAGO_SECONDS=4
LIVE_VEHICLE_TTL_SECONDS=180
MBTA_API_KEY=
MBTA_API_BASE_URL=https://api-v3.mbta.com
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_PREFIX=transit.live
KAFKA_REDIS_CONSUMER_GROUP=transit-live-redis-updater
FLINK_KAFKA_CONNECTOR_JAR=/absolute/path/to/flink-sql-connector-kafka-3.3.0-1.20.jar
FLINK_EXECUTION_TARGET=local



# Chicago CTA Bus Tracker — Get API Key at https://www.ctabustracker.com/home
CTA_BUS_TRACKER_API_KEY=
CTA_BUS_TRACKER_BASE_URL=https://www.ctabustracker.com/bustime/api/v3
# Chicago CTA Train Tracker — Get API key at https://www.transitchicago.com/developers/traintracker.aspx
CTA_TRAIN_TRACKER_API_KEY=
CTA_TRAIN_TRACKER_BASE_URL=https://lapi.transitchicago.com/api/1.0
